.dialogStyles {
    width: 500px;
    margin: 0 auto;
    position: fixed;
    height: 700px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    background-color: #eee;
    padding: 10px 20px 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: 5px 5px 5px grey;
}

.dialogCloseButtonStyles {
    font-size: 50px;
    color: grey;
    cursor: pointer;
    border-radius: 50%;
    background: none;
    border: none;
    transform: rotate(45deg);
    font-weight: bold;
    align-self: flex-end;    
}