
.App {
  width: 100%;
  height: 100vh;
  margin-top: 0px;
}

/* block to fill same space as header so that scrolled content will be below fixed header */
.Header-fill { 
  min-height: 70px;
  width: 100%;
  margin-top: 0px;
  align-content: center;
  padding-left: 20px;
  margin-bottom: 10px;
}

.App-header {
  background-color: gray;
  position: fixed;
  min-height: 70px;
  width: 100%;
  margin-top: 0px;
  color: white;
  align-content: center;
  padding-left: 20px;
}


.Header-title {
  color: white;
  font-family: serif;
}

.Search {
  position: absolute;
  top: 18px;
  left: 120px;
  margin: 0px auto;
}

.Searchbar {
  text-align: center;
  width: 500px;
  height: 30px;
  border-radius: 10px;
  border: none;

}

.Card-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

.Card {
  text-align: center;
  width: 200px;
  height: 315px;
  background-color: rgb(226, 226, 226);
  margin: 10px;
  color: white;
  border-radius: 10px;
}

.Card-image {
  height: 200px;
  width: 175px;
  background-color: white;
  margin: 10px auto;
  border-radius: 5px;
  color: black;
}

.Card-text {
  margin: 1px;
  padding: 0px 5px;
  height: 50px;
  overflow: hidden;
  color: darkgray;
}

.Card-button-display {
  display: flex;
  justify-content: space-around;
  margin: 2px 7px;
}

.Card-button {
  margin: 0px;
  background-color: lightcoral;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border: none;
}

.Card-tall {
  text-align: center;
  width: 200px;
  height: 400px;
  background-color: darkgray;
  margin: 10px;
  color: white;
}


