
.App {
  width: 100%;
  height: 100vh;
  margin-top: 0px;
}

.logo {
  float: left;
  margin-left: 50px;
  margin-top: 10px;
  margin-right: 20px;
  height: 50px;
}

/* block to fill same space as header so that scrolled content will be below fixed header */
.Header-fill { 
  min-height: 70px;
  width: 100%;
  margin-top: 0px;
  align-content: center;
  padding-left: 20px;
  margin-bottom: 10px;
}

.App-header {
  background-color: white;
  border-bottom: 1px solid lightgray; 
  position: fixed;
  min-height: 70px;
  width: 100%;
  margin-top: 0px;
  align-content: center;
  padding-left: 20px;
  opacity: .95;
}


.Header-title {
  color: #FFAA20;
  font-family: sans-serif;
  padding-top: 2px;
}

.Search {
  position: absolute;
  top: 18px;
  right: 90px;
  margin: 0px auto;
}


.Card-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
}

.white-box {
  display: relative;
  width: 400px;
  height: 550px;
  background: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  font-family: sans-serif;
  color: grey;
}

form {
  display: flex;
  flex-direction: column;
}

.title-input {
  height: 30px;
  margin: 5px 20px;
}

.image-input {
  height: 30px;
  margin: 5px 20px;
}

.ingredients-input {
  height: 100px;
  margin: 5px 20px;
}

.instruction-input {
  height: 180px;
  margin: 5px 20px;
}

button {
  height: 50px;
  width: 200px;
  margin: 10px auto;
  background: none;
  border: none;
  border-radius: 5px;
  background-color: #FFAA20;
  color: white;
  font-size: 25px;
  font-weight: bolder;
}

.model-content {
  position: relative;
}

.close-modal {
  position: absolute;
  top: 0;
  right: 14px;
  color: grey;
  font-size: 40px;
  transform: rotate(45deg);
}

.modal-logo {
  height: 60px;
  padding: 10px;
}