
.App {
  width: 100%;
  height: 100vh;
  margin-top: 0px;
}

.logo {
  float: left;
  margin-left: 50px;
}

/* block to fill same space as header so that scrolled content will be below fixed header */
.Header-fill { 
  min-height: 70px;
  width: 100%;
  margin-top: 0px;
  align-content: center;
  padding-left: 20px;
  margin-bottom: 10px;
}

.App-header {
  background-color: white;
  border-bottom: 1px solid lightgray; 
  position: fixed;
  min-height: 70px;
  width: 100%;
  margin-top: 0px;
  color: white;
  align-content: center;
  padding-left: 20px;
  opacity: .95;
}

.header-container {
  
}


.Header-title {
  color: lightseagreen;
  font-family: sans-serif;
}

.Search {
  position: absolute;
  top: 18px;
  right: 90px;
  margin: 0px auto;
}

.Searchbar {
  background-color: lightcoral;
  text-align: center;
  width: 500px;
  height: 30px;
  border-radius: 10px;
  border: none;
  color: grey;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.Card-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

.Card {
  text-align: center;
  width: 200px;
  height: 315px;
  background-color: rgb(226, 226, 226);
  margin: 10px;
  color: white;
  border-radius: 10px;
}

.Card-image {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  color: black;
}

.image-container:hover .overlay {
  opacity: .7;
}

.image-container {
  height: 200px;
  width: 175px;
  margin: 10px auto 5px auto;
  border-radius: 5px;
}

.overlay {
  position: relative;
  top: -205px;
  opacity: 0;
  height: 200px;
  width: 175px;
  transition: .5s ease;
  background-color: lightcoral;
  border-radius: 5px;
}

.card-name {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.Card-text {
  margin: 0px;
  padding: 0px 5px;
  height: 50px;
  overflow: hidden;
  color: darkgray;
}

.Card-button-display {
  display: flex;
  justify-content: space-around;
  margin: 2px 7px;
}

.Card-button {
  margin: 0px;
  background-color: lightcoral;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border: none;
}

.Card-tall {
  text-align: center;
  width: 200px;
  height: 400px;
  background-color: darkgray;
  margin: 10px;
  color: white;
}


